<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>206596406308-l5sn89dpi3vjerit5vopji2i8m6aif90.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.206596406308-l5sn89dpi3vjerit5vopji2i8m6aif90</string>
	<key>API_KEY</key>
	<string>AIzaSyDw9_7JiH_kGTZClu9cdcXLO0po6vLLEYo</string>
	<key>GCM_SENDER_ID</key>
	<string>206596406308</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kmitina.UberClone</string>
	<key>PROJECT_ID</key>
	<string>uberclone-cca7b</string>
	<key>STORAGE_BUCKET</key>
	<string>uberclone-cca7b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:206596406308:ios:f9c3235bbc84dd68e76cb1</string>
</dict>
</plist>